@page
@model final_project.Pages.Randomizer.HeavyModel

@{
    ViewData["Title"] = "Index";
}

<h1>Heavy Weapon List</h1>

<p>
    <a asp-page="Create">Create New</a>
    <span> | </span>
    <a asp-page="Index">Back to Randomizer</a>
</p>

<!-- Sorting Technique with SelectList -->
<form>
    <select asp-for="CurrentSort" asp-items="Model.SortList">
        <option value="">sort by...</option>
    </select>
    <button type="submit">Sort</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @{
                    var firstSort = "first_asc";
                    if (Model.CurrentSort == "first_asc")
                    {
                        firstSort = "first_desc";
                    }
                }
                <a asp-page="./Heavy" asp-route-CurrentSort="@firstSort">@Html.DisplayName("Heavy")</a>
            </th>
            <th>
                @Html.DisplayName("Heavy Weapons")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Heavy)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Hname)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.HeavyID">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.HeavyID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<hr />
@{
    var prevDisabled = "";
    if (Model.PageNumH <= 1)
    {
        prevDisabled = "disabled";
    }
}

<nav aria-label="Page Navigation">
    <ul class="pagination">
        <li class="page-item @prevDisabled"><a class="page-link" asp-page="./Heavy" asp-route-PageNum="@(Model.PageNumH - 1)">Previous</a></li>
        <li class="page-item"><a class="page-link" asp-page="./Heavy" asp-route-PageNum="@(Model.PageNumH + 1)">Next</a>
        </li>
    </ul>
</nav>