@page
@model final_project.Pages.Randomizer.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Loadout Randomizer</h1>

<div class="text-center">
    <p>
        <a asp-page="/Randomizer/Armor">Armor List</a><span> | </span>
        <a asp-page="/Randomizer/Primary">Primary List</a><span> | </span>
        <a asp-page="/Randomizer/Secondary">Secondary Weapon List</a><span> | </span>
        <a asp-page="/Randomizer/Heavy">Heavy Weapon List</a>
    </p>
</div>

<div class="form-group text-center">
    <div class="center">
        <input type="submit" value="RANDOMIZE LOADOUT" class="btn btn-primary btn-lg btn-block" />
    </div>
</div>

<table class="table text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Armor")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Armor)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Aname)
                </td>
            </tr>
        }
    </tbody>
</table>

<table class="table text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Primary Weapon")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Primary)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Pname)
                </td>
            </tr>
        }
    </tbody>
</table>

<table class="table text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Secondary Weapon")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Secondary)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Sname)
                </td>
            </tr>
        }
    </tbody>
</table>

<table class="table text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Heavy Weapon")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Heavy)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Hname)
                </td>
            </tr>
        }
    </tbody>
</table>
